<?xml version="1.0"?>
<configuration>
  <system.web>
    <compilation debug="true"/>

    <authentication mode="Windows" />
    <anonymousIdentification enabled="false"/>
    <authorization>
      <allow users="*" />
    </authorization>

    <roleManager enabled="true" defaultProvider="AspNetWindowsTokenRoleProvider"/>
  </system.web>
</configuration>
